.navegacion {
    background: rgba(0, 179, 176,0.1);
}

.navegacion .nav-link, .navegacion .nav-link.active {
    color: rgb(37, 46, 80);
}

.buscador-principal {
    max-width: 700px !important;
    margin-top: -4em;
}
footer h2 {
    font-size: 1em;
}
.autocomplete {
    position: relative;
}

.autocomplete .form-control {
    position: relative;
    z-index: 100;
}

.autocomplete .autocomplete-list {
    width: 100%;
    background: white;
    position: absolute;
    font-size: 12px;
    padding-top: 10px;
    margin-top: -10px;
    z-index: 50;
    overflow: hidden;
    overflow-y: scroll;
    max-height: calc(2.5em * 5);
    border: var(--bs-border-width) solid var(--bs-border-color);
    outline: 0;
}

.autocomplete .autocomplete-list .autocomplete-item-list {
    line-height: 2em;
    box-sizing: content-box;
    padding-left: 1em;
    cursor: pointer;
    padding-right: 1em;
    margin-top: .5em;
}
.autocomplete .autocomplete-list .autocomplete-item-list:hover {
    background: var(--bs-gray-200);
}
.bg-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background: rgba(37, 46, 80,.5);
    z-index: 10000;
}
.bg-loader .card{
    position: relative;
    top: 25%;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    text-align: center;
    color: rgb(37, 46, 80);
}